  <!-- Bottom -->
  <footer>
  <nav class="navbar fixed-bottom justify-content-center navbar-dark bg-dark">
  <h6 class="display-6 navbar-text">&copy; Copyright 2020. &nbsp; All Rights reserved.</h6>
  </nav>
  <footer>