<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="row justify-content-md-center">
<video class="w-100" src="/Assets/videos/setting page.mp4" autoplay muted loop></video>
  <div class="col-md-8 p-lg-5 mx-auto my-5 overlay-container-center text-left text-black">
         <br><br><br><br><br>
          <h1 id="settingword">
     Setting
          </h1>
      </div>
<br>

<div class="row justify-content-md-center">
<div class="col-md-offset-3 col-md-15">

    <form class="form" method="POST">

        <div class="row justify-content-md-center position-relative" id="contact1">
        <div class="col-lg-5">
<br><br>
        <h5 style="font-family: Garamond">Survey ON/OFF: </h5>
        <%{if(setting.onOff === true){ %>
        <button id="btnColor1" class="btn btn-dark" name="onAndOff" value="false" type="submit">Turn off the Survey</button>
        <%}if(setting.onOff === false){%>
         <button id="btnColor1" class="btn btn-success" name="onAndOff" value="true" type="submit">Turn on the Survey</button>
        <%}}%>
        <br>
        <br><br>
                
        <div>
        <br>
        <div class="row justify-content-md-center position-relative">
        <img width=500px; height= 450px; src="../../Assets/videos/on and off.gif">
        </div>
        <br>
        <div class="row justify-content-md-center position-relative">
<a href="/survey-list" id="btnColor1" class="btn btn-outline-secondary">
        <i class="fas fa-undo"></i> Back</a>
        </div>
        
        </div>
             

    </form>
<br><br><br><br><br>
</div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>
