<% if (title == "About") { %>
    <img src="../../public/images/hankyu.jpg">
    <h4>My name is Hankyu Shin.</h4>
    <h4>I am from South Korea.</h4>
    <h4>Now, I am 23 years old.</h4>
    <h4>Nice to meet you.</h4>

    <% } %>


    <% if (title == "Projects") { %>
        <h3>I am doing three projects</h3>
        <h3>Donation project: By making donations, I am getting the pride and joy of helping. </h3>
        <img src="../../public/images/donate.jpg" />
        <h3>Study           : I am constantly trying to study and feel a sense of accomplishment as I get to know little by little.</h3>
        <img src="../../public/images/study.jpg" />
        <h3>Exercise        : Feeling free through exercise </h3>
        <img src="../../public/images/exercise.jpg" />
        
        <% } %>

        
    <% if (title == "Services") { %>
        <h4>I have a professional drone training licsense that I can teach how to fly drones</h4>
        <h4>I really like helping people that I can help you </h4>
        <h4>I can drive a car, so if you have a car, I can take you.</h4>
        <% } %>