<% if (title == "About") { %>
    <i src=../public/images/hankyu></i>
    <h4>My name is Hankyu Shin</h4>
    <% } %>


    <% if (title == "Projects"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item"></li>
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-house-user"></i> Home </a>
        </li>
        
        <% if (title == "Services"){ %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item"></li>
            <% } %>
              <a class="nav-link" href="/home"><i class="fas fa-house-user"></i> Home </a>
            </li>

            <% if (title == "Contact"){ %>
                <li class="nav-item active">
                <% } else  { %>
                <li class="nav-item"></li>
                <% } %>
                  <a class="nav-link" href="/home"><i class="fas fa-house-user"></i> Home </a>
                </li>