<% if (title == "About") { %>
    <img src="../../public/images/hankyu.jpg" />
    <h4>My name is Hankyu Shin.</h4>
    <h4>I am from South Korea.</h4>
    <h4>Now, I am 23 years old.</h4>
    <h4>Nice to meet you.</h4>
    <% } %>


    <% if (title == "Projects") { %>
        <h4>My name is Hankyu Shin</h4>
        <% } %>

        
    <% if (title == "Services") { %>
        <h4>My name is Hankyu Shin</h4>
        <% } %>