<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Eunbee Lee's Site.</p>
    

    <script src="/Scripts/app.js"></script>
  </body>
</html>
