<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel='stylesheet' href='/Content/app.css' />

</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to Eunbee Lee's Site.</p>
    
  <!-- Script Section -->
  <script src="/Scripts/app.js"></script>
</body>
</html>

