<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


<br><br><br><br>
<!-- Main Content -->
  <div class="row justify-content-md-center">
  <div class="col-8">
  <h2 class="display-1 text-center">Provide following Services.</h2>
  <hr class="my-4">
  </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
  <div class="col-8">
  <h2 class="display-4 text-center"> HTML, JAVA, DB, C#, and etc.</h2>
  </div>
  </div>

  </main>
<br><br><br><br>

    

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>