  <!-- Bottom -->
<footer>
    <nav class="navbar fixed-bottom navbar-custom5" id="w3">
        <h6 class="display-6 navbar-text"style="color:white; font-size:12px;">&copy; Copyright 2020. Rights for Group7 "K"</h6>
    </nav>
</footer> 