<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

  <br><br><br><br>
  <div class="row justify-content-md-center">
    <div class="col-8">
    <h2 class="display-4 text-center">Add New Business Contact</h2>
    <hr class="my-4">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
  

      <form class="form" method="POST">

      <div class="form-group">
      <label for="nameTextField">Name</label>
      <input type="text" class="form-control" id="nameTextField" 
      name="name" placeholder="Enter the name." required>
      </div>

      <div class="form-group">
      <label for="numberTextField">Contact Number</label>
      <input type="tel" class="form-control" id="numberTextField" 
      name="number" placeholder="Enter the contact number." required>
      </div>

      <div class="form-group">
      <label for="emailTextField">E-mail Address</label>
      <input type="email" class="form-control" id="emailTextField" 
      name="email" placeholder="Enter the E-mail address." required>
      </div>

      
      <br>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
      &nbsp;
      <a href="/user-list" class="btn btn-outline-secondary">
      <i class="fas fa-undo"></i> Back </a>

      </form>

      </div>
    </div>
  </div>
  <br><br><br><br>




<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>