
/*Custom css goes here*/

#navcolor
{
    background-color: #F2E5D5;
}

#w1
{
    background-color: white;
}


#w2
{
    background-color: #F2E5D5;
}

.loading span {
    display: inline-block;
    margin: 0 -.05em;
    animation: loading 1.2s infinite alternate;
  }
  .loading span:nth-child(2) {
    animation-delay: .2s;
  }
  .loading span:nth-child(3) {
    animation-delay: .4s;
  }
  .loading span:nth-child(4) {
    animation-delay: .6s;
  }
  .loading span:nth-child(5) {
    animation-delay: .8s;
  }
  .loading span:nth-child(6) {
    animation-delay: 1s;
  }
  .loading span:nth-child(7) {
    animation-delay: 1.2s;
  }
  @keyframes loading {
    0% {
      filter: blur(0);
      opacity: 1;
    }
    100% {
      filter: blur(5px);
      opacity: .2;
    }
  }


  .loading1 span {
    display: inline-block;
    margin: 0 -.075em;
    animation: loading1 .7s infinite alternate;
  }
  .loading1 span:nth-child(2) {
    animation-delay: .1s;
  }
  .loading1 span:nth-child(3) {
    animation-delay: .2s;
  }
  .loading1 span:nth-child(4) {
    animation-delay: .3s;
  }
  .loading1 span:nth-child(5) {
    animation-delay: .4s;
  }
  .loading1 span:nth-child(6) {
    animation-delay: .5s;
  }
  .loading1 span:nth-child(7) {
    animation-delay: .6s;
  }
  @keyframes loading1 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }

#w3{
    background-color: #AD6D52;
}

#w4{
    background-color: #AD6D52;
}

#w5{
    background-color: #F2E5D5;
}

#anscolor
{
    background-color: #A8A07C;
}

#partbody
{
    background-color: white;
}

#photo
{
  width: 100px; height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

#btnDetails
{
  background-color: #A98B80;
  border-color: #A98B80;
}

#btnAdd
{
  background-color: #A98B80;
  border-color: #A98B80;
}

#forms
{
  width:600px;
  height:auto;
  margin:50px auto 0;
  padding:50px;
  background-color:#EEE;
  color:#333;
  border:2px solid #C2D6FF;
  border-radius:40px 0 40px 0
}

#btnColor
{
  background-color: #A98B80;
  border-color: #A98B80;
}
/*https://www.formget.com/different-form-styles-using-html-css3/*/

.overlay-container-center{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}






